<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dream</title>
</head>

<body>
    <div id="wrapper">
        <div class="header">
            <h1>Dreamulus</h1>
            <!-- insert music feature here -->
            <div class="nav_link">
                <h4><a href="/dreams">Home</a></h4>
                <h4><a href="/users/journal">My Journal</a></h4>
                <h4><a href="/users/account/{{ current_user.id }}">Account</a></h4>
                <h4><a href="/logout">Logout</a></h4>
            </div>
        </div>
        <h1> {{ one_dream.owner.first_name }} {{ one_dream.owner.last_name }}'s Dream</h1>
        <h2> {{one_dream.title }}</h2>
        <p> {{one_dream.description }}</p>
        <!-- Like Feature -->
        {% if current_user.id != dream.owner.id %}
        <form action="/dreams/unlike/{{dream.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Unlike">
        </form>
        <form action="/dreams/like/{{dream.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Like">
        </form>
        <p>Likes: {{ dream.users_that_liked.count }}</p>
        {% endif %}

        {% for one_dream in current_user.dreams_owned %}
        {% endfor %}
    </div>
</body>

</html>