* {
    margin:0px;
    padding:0px;
}

#wrapper{
    width:960px;
    height:1000px;
    margin:0px auto;
    /*     background-image: url("cherries.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat; */
}


body {
    background-image: linear-gradient(to left, rgba(238, 139, 58, 0.733), rgb(152, 183, 240));
    font-family: sans-serif;
    color: white;
}

.title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}

.register{
    padding: 20px;
    height: 25%;
    display: inline-block;
    align-items: center;
    text-align: center;
}



.login{
    /* display: table-caption; */
    padding: 20px;
    height: 25%;
    display: inline-block;
    vertical-align: top;
    float: right;
}


